table.scoresheet {
  margin: 0 auto;
  width: 50%;
  font-size: 12px;
  border: 1px solid;
  text-align: center;
  table-layout: fixed;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
table.scoresheet th,
tr,
td {
  padding: 0;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
table.scoresheet th {
  border-bottom: 1px solid;
  height: 30px;
}
table.scoresheet th:not(:last-child) {
  border-right: 1px solid;
}
table.scoresheet td {
  height: 30px;
}
table.scoresheet tr td:not(:last-child) {
  border-right: 1px solid;
}
table.scoresheet tr:nth-child(2) td:nth-child(even) {
  border-bottom: 1px solid;
}
table.scoresheet tr:nth-child(2) td:last-child {
  border-bottom: 1px solid;
}
