html {
  font-size: 1rem;
}

body {
  background-color: olive;
  color: white;
}

img {
  max-width: 100%;
}

@media speech {
  code {
    speak: literal-punctuation; /* Reads all punctuation out loud in iOS VoiceOver */
  }
}
