@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap");

:root {
  --main-background: #fdadbe;
  --other-background: #638596;
}

html {
  font-size: 1rem;
}

body {
  background-color: #eee;
  color: #333;
}

.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

img {
  max-width: 100%;
}

@media speech {
  code {
    speak: literal-punctuation; /* Reads all punctuation out loud in iOS VoiceOver */
  }
}
