#logo img {
    width: 20%;
    margin: 1rem 0 0 0;
}

h1 {
    margin-top: -1rem;
    font-weight: lighter;
    color: #1A2B63;
}

h2 {
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1rem;
}
h5 {
    font-weight: light;
}

h2 span {
    font-weight: bold;
    color: #FE3745;
}

main, section {
    max-width: 1000px;
}

/* unvisited link */
 a:link {
    color: #445EA0;
}

/* visited link */
 a:visited {
    color: #445EA0;
}

/* mouse over link */
 a:hover {
    color: #FF5B61;
}

/* selected link */
 a:active {
    color: #445EA0;
}
.btn-primary {
    color: #fff !important;
    background-color: #FE3745;
    border-color: #FE3745;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #B7092B;
    border-color: #B7092B;
}
.btn-primary:focus {
    color: #fff !important;
    background-color: #B7092B;
    border-color: #B7092B;
}
.btn-primary:active {
    color: #fff !important;
    background-color: #FE3745;
    border-color: #FE3745;
}
.btn-primary:visited {
    color: #fff !important;
    background-color: #FE3745;
    border-color: #FE3745;
}

.btn-danger {
    color: #fff !important;
    background-color: #FE3745;
    border-color: #FE3745;
}

.btn-danger:hover {
    color: #fff !important;
    background-color: #B7092B;
    border-color: #B7092B;
}
.btn-danger:focus {
    color: #fff !important;
    background-color: #B7092B;
    border-color: #B7092B;
}
.btn-danger:active {
    color: #fff !important;
    background-color: #FE3745;
    border-color: #FE3745;
}
.btn-danger:visited {
    color: #fff !important;
    background-color: #FE3745;
    border-color: #FE3745;
}

.btn-secondary {
    color: #fff !important;
    background-color: #445EA0;
    border-color: #445EA0;
}

.btn-secondary:hover {
    color: #fff !important;
    background-color: #1A2B63;
    border-color: #1A2B63;
}
.btn-secondary:active {
    color: #fff !important;
    background-color: #445EA0;
    border-color: #445EA0;
}
.btn-secondary:visited {
    color: #fff !important;
    background-color: #445EA0;
    border-color: #445EA0;
}

.post-image {
    height: 20rem;
    object-fit: cover;
}
.card {
    position: relative;
}
.admin-btn {
    position: absolute;
    top: 0rem;
    right: .5rem;
}