.display {
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center;
}

#facts {
    width: 100%;
    padding: 20px;
    text-align: justify;
    text-align-last: left;
}

.imgBox {
    padding: 1rem;
    border: solid gray 1px;
}